/* styles.css */



div {
  color: white;
}



body {
  font-family: Verdana;
  background-color: hsl(50, 13%, 9%);}
 h1 , body {
  color: rgb(221, 218, 218);}

  h1 {font-family: Verdana; font-size: 140%;}
* {font-size: 130%;}
* {text-align: center;}
